.App {
    font-family: sans-serif;
    text-align: center;
}

.characters-container {
    border: 1px solid #333;
    border-radius: 5px;
    margin: 0 5px 5px 5px;
    width: 30%;
    display: inline-block;
}

.characters-img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

@media only screen and (max-width: 600px) {
    .characters-container {
        width: 100%;
        display: block;
    }
}

